body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: blueviolet 1px 1px 2px;
    background-image: url("./background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(black, black, black, 0.9);
    color: white;
}

header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
    width: 100%;
}

h1 {
    font-size: 18px;
    display: flex;
    align-items: center;
}

h3 {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

#image {
    width: 800px;
    height: 441px;
	border-radius: 50px;   
}
main {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    gap: 10px;
}

#content {
    display: flex;
    font-size: 16px;
    border-color: blueviolet;
    border-radius: 10px;
    text-align: justify;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

}